# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ROS build files
build/
devel/
install/
log/
*.launch.pyc

# IDEs
.vscode/
.idea/

data/
data_basic/
data_extended/
src/dnf_cognitive_architecture/scripts/captured_images
src/dnf_cognitive_architecture/scripts/model

venv/